<div class="container">
    <div class="row">
        <div id="title" class="col-12">
            <h1>Macrumors News Scraper</h1>
                <button class="btn btn-primary scrape" type="button">Get Articles</button>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <p>Articles:</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <ul class="list-group">
                {{#each articles}}
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-3">
                            <div class="images">
                            <img class="image" src={{img}} height="175" width="200" alt="" onerror="this.src='/macrumors-icon.png';" alt="Missing Image" />
                            </div>
                        </div>
                        <div class="col-7">
                            <h4>{{title}}</h4>
                            <br>
                             <p>{{byline}}</p>
                        </div>
                        <div class="col-0"></div>
                        <div class="col-2">
                            <br>
                            <a href="{{url}}" target= "_blank">
                            <button id="article" class="btn" type="button" data-id="{{_id}}">View Article</button></a>
                            <a href="/articles/{{_id}}">
                            <button id="note" class="btn btn" type="button" data-id="{{_id}}">View Notes</button></a>
                            <br>
                            <button id="delete" class="btn delete" type="button" data-id="{{_id}}">Delete</button></a>
                            <br>
                        </div>
                    </div>
                </li>
                {{/each}}
            </ul>
            <br><br>
        </div> 
    </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/index.js"></script>