<div class="container">
    <div class="row">
        <div class="col-12">
            <a href="/"><h1>Macrumors News Scraper</h1></a>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h3 data-id="{{article._id}}">Article Title: </h3>
        </div>
    </div>
    <div class="row">
        <div class="col-8">
            <ul class="list-group">
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-8">
                            <h4>{{article.title}}</h4>
                        </div>
                    </div>
                </li>
            </ul>
            <br><br>
        </div> 
    </div>
    <div class="row">
        <div id="note-list" class="col-8">
            <p>Notes for this article:</p>
            <ul class="list-group">
                {{#each article.notes}}
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-3">
                            <h4>{{username}}</h4>
                        </div>
                        <div class="col-0"></div>
                        <div class="col-4">
                            <p>{{text}}</p>
                        </div>
                        <div class="col-1">
                            <button id="delete-note" class="btn btn-danger delete" type="button" data-id="{{_id}}">Delete</button></a>
                        </div>
                    </div>
                </li>
                {{/each}}
            </ul>
            <br><br>
        </div> 
    </div>
    <div class="row">
        <div class="col-8">
            <form>
                <div class="form-group">
                    <label for="new-username"></label>
                    <input type="text" class="form-control" placeholder="Username" id="new-username">
                </div>
                <div class="form-group">
                    <label for="new-text"></label>
                    <textarea class="form-control" rows="4" placeholder="Enter your note..." id="new-text"></textarea>
                </div>
                <button type="button" class="btn btn-primary post" data-id="{{article._id}}">Post Note</button>
            </form>
            <br><br>
        </div>
    </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/notes.js"></script>